.hero-section{
    width: 100%;
    height: 95vh;
    display: flex;
    color: aliceblue;
    background: linear-gradient(90deg, rgba(22,21,26,1) 0%, rgba(5,0,0,1) 35%, rgba(0,0,0,1) 100%);
}
.hero-left{
    width: calc(100%/2);
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

.hero-left .hero-content{
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 0;
}

.hero-content h1{
    font-size: 4rem;
    line-height: 4rem;
}
.hero-content p{
    margin-top: -1rem;
}
.hero-rating{
    width: 100%;
    min-height: 5rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-rating .rating-point{
    font-size: 2rem;
}

.hero-rating .hero-div{
    width: calc(100%/3);
    height: 100%;
    border: 1px solid green;
}


/* hero-right */
.hero-right{
    width: calc(100%/2);
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image{
    width: 55%;
    height: 80%;
    /* border: 1px solid yellow; */
    border-radius: 200px 200px 0 0;
    overflow: hidden;
}

.hero-image img{
    width: 100%;
    height: 100%;
}

